<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>About</title>
    <%- include('../partials/analytics'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <div class="custom-container">
        <div class="content">
            <div class="container-fluid">
                <p>Last updated: February 20, 2026</p>
                
                <div class="table-responsive">
                    <table class="table-veh table-hover border border shadow">
                        <thead>
                            <tr>
                                <th>Model</th>
                                <th>Years Available</th>
                                <th>Last Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Camaro</td>
                                <td>2019* - 2024</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Corvette</td>
                                <td>2019* - 2026^</td>
                                <td>February 20, 2026</td>
                            </tr>
                            <tr>
                                <td>CT4</td>
                                <td>2020 - 2025</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>CT5</td>
                                <td>2020 - 2025</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>CT6</td>
                                <td>2019* - 2020</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>ESCALADE IQ</td>
                                <td>2025</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>HUMMER EV</td>
                                <td>2022 - 2025</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>SIERRA EV</td>
                                <td>2024 - 2025</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>SILVERADO EV</td>
                                <td>2024 - 2025</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="font-size: 0.75rem;">
                        *2019-2020 are incomplete from GM's API. Window stickers uploaded mid-May 2019 oneard are included.
                        <br>^Current production.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer'); %>
</body>
</html>
