<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <title>GM Build Counts</title>
</head>

<body>
    <%- include('../partials/sidebar'); %>

    <div class="wrapper">
        <div class="content">
            <div class="container">
                <div class="flex-column">
                    <h2>Yearly Count</h2>
                    <h4>test</h4>
                </div>
                <div class="row">
                    <h2>Trim Count</h2>
                </div>
                <div class="flex-column">
                    <h2>Model Count</h2>
                </div>
                <div class="flex-column">
                    <h2>Yearly Count</h2>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer'); %>
</body>

</html>
