<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>GM Build Counts</title>
</head>
<%- include('../partials/analytics'); %>
<body>
    <%- include('../partials/header'); %>
    <div class="custom-container">
        <div class="content">
            <div class="container-fluid">
                <h2 class="pt-4" id="i-link"><a href="/vehicles"><i class="bi bi-car-front-fill me-1"></i>Vehicles</a></h2>
                <p>
                    Some filters may take some time to complete, wait for one filter to finish before selecting the next.
                    <br>VIN or MSRP column headers will sort.
                    <br>Highlighted VIN's are Pre-Production vehicles with RPO code OAR.
                </p>
                <h4 style="font-weight: bold;">Individual Vehicle's</h2>
                <p>Select a vehicle row to view further information.</p>
                <img src="../../img/index/vehicleTable.png" class="img-fluid mb-2" alt="Vehicle Table">
                <img src="../../img/index/individualVeh.png" class="img-fluid" alt="Individual Vehicle">
                <p class="pt-3">Click on an RPO on the RPO table to search for all vehicles with that RPO.</p>
                <h2 id="i-link"><a href="/stats"><i class="bi bi-list-ol me-1"></i>Stats</a></h2>
                <p>Statistics regarding vehicle data</p>
            </div>
        </div>
        <%- include('../partials/footer'); %>
    </div>
</body>
</html>
