<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/sidebar'); %>

    <div class="container">
        <div class="flex-column">
            <h2>Yearly Count</h2>
            <h4>test</h4>
        </div>
        <div class="row">
            <h2>Trim Count</h2>
        </div>
        <div class="flex-column">
            <h2>Model Count</h2>
        </div>
        <div class="flex-column">
            <h2>Yearly Count</h2>
        </div>
    </div>
</body>

</html>
