<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>GM Build Counts</title>
    <%- include('../partials/analytics'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <div class="custom-container">
        <div class="content">
            <div class="container-fluid">
                <h2 class="pt-4" id="i-link"><a href="/vehicles"><i class="bi bi-car-front-fill me-1"></i>Vehicles</a></h2>
                <p>
                    Search for RPO codes to filter at the top of the table.
                    <br>VIN and MSRP column headers will sort in either direction.
                    <br>Highlighted VIN's are Pre-Production vehicles with RPO code <span class="highlight">OAR</span>.
                    <br>Window Stickers are only available typically after May 16, 2019. The majority of 2019 are unavailable, with a few early 2020 not appearing.
                </p>
                <h4>Individual Vehicle's</h2>
                <p>Select a vehicle row to view further information.</p>
                <img src="../../img/index/vehicleTable.png" class="img-fluid mb-2" alt="Vehicle Table">
                <img src="../../img/index/individualVeh.png" class="img-fluid" alt="Individual Vehicle">
                <p class="pt-3">Click a RPO on the table to search for all vehicles with that RPO.</p>
                <h2 id="i-link"><a href="/stats"><i class="bi bi-list-ol me-1"></i>Stats</a></h2>
                <p>Statistics regarding vehicle data.</p>
                <h2 id="i-link"><a href="/wheels"><i class="bi bi-fan me-1"></i>Wheels</a></h2>
                <p>
                    Images & Descriptions of wheels for a given model.
                    <br>Some models are being worked on.
                </p>
                <h2 id="i-link"><a href="/rpos"><i class="bi bi-database-fill me-1"></i>RPOs</a></h2>
                <p>
                    Images & Descriptions of RPOs for a given model. Only RPOs with official images are listed.
                    <br>Models are being worked on.
                </p>
                <h2 id="i-link"><a href="/about"><i class="bi bi-info-lg me-1"></i>About</a></h2>
                <p>
                    Progress for each model/year.
                </p>
            </div>
        </div>
    </div>
    <%- include('../partials/footer'); %>
</body>
</html>
