<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>GM Build Counts</title>
</head>
<body>
    <%- include('../partials/header'); %>
    <div class="custom-container">
        <div class="content">
            <h1 class="pt-4 mobile-message" style="text-decoration: underline; font-weight: bolder;">Best Viewed on Desktop</h1>
            <div class="container-fluid">
                <h2 class="pt-4" style="font-weight: bold;">Introduction</h2>
                <p>
                    Visit the Vehicles page from the header, there you can view and filter what you'd like to see. Some filters may take some time to complete, please wait for one filter to finish before selected the next
                    <br>It is recommended to use the Select Package/Option filter if looking for a specific edition/package before using any other filters
                    <br>You can click on the headers VIN or MSRP to sort the results, click the same header again to sort the other way
                </p>
                <h2 style="font-weight: bold;">Individual Vehicle's</h2>
                <p>Click on a vehicle row to access further information of that vehicle.</p>
                <img src="../img/index/vehicleTable.png" class="img-fluid mb-3" style="display: block; margin: auto;" alt="Vehicle Table">
                <p class="pt-3">Allow some time (<1 minute) for the photos to generate</p>
                <img src="../img/index/individualVeh.png" class="img-fluid mb-3" alt="Individual Vehicle">
                <p class="pt-3">
                    Below the photos will be the Window Sticker if available - North American vehicles only<br>
                    GM 'hides' JSON data at the very top of each sticker which includes all of the data used to supply information throughout this site.<br>
                    You can see this by clicking inside the window sticker document and pressing the keys CTRL+A (Select All), CTRL+C (Copy) and open a notepad to paste CTRL+V (Paste).<br>
                    The JSON is at the very bottom of the document when pasted following these steps.
                </p>
                <img src="../img/index/windowSticker.png" class="img-fluid mb-3" alt="Window Sticker">
                <p class="pt-3">Click the See Rarity button to calculate the number of cars built with the exact same RPO codes</p>
                <img src="../img/index/rarity.png" class="img-fluid mb-3" alt="Rarity Button">
                <p class="pt-3">The bottom table lists all the vehicle's associated RPO codes and their descriptions</p>
                <img src="../img/index/rpoCodes.png" class="img-fluid mb-3" alt="RPO Info">
            </div>
        </div>
    <%- include('../partials/footer'); %>
    </div>
</body>
</html>
