<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Stats</title>
</head>
<body>
    <%- include('../partials/header'); %>
    <div class="custom-container">
        <div class="content">
            <div class="container-fluid">
                <h2 class="pt-4" style="font-weight: bold;">Statistics</h2>
            </div>
        </div>
    <%- include('../partials/footer'); %>
    </div>
</body>
</html>
