<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
    <title>Maintenance</title>
</head>
<body>
    <%- include('../../partials/header'); %>
    <div class="wrapper">
        <div class="content">
            <div class="custom-container">
                <div class="row">
                    <h1 class="pagetitle">Maintenance in progress.</h1>
                    <h4>Please wait while maintenance is being done.</h4>
                </div>
            </div>
        </div>
        <%- include('../../partials/footer'); %>
    </div>
</body>
</html>
