<!-- Page footer -->
<footer class="footer">
    <div class="container d-flex justify-content-between align-items-center px-3">
        <span style="color: rgb(113, 113, 113);">&copy; 2023 - 2026 Bumbleboy92</span>
    </div>
</footer>
