<!-- Page footer -->
<footer class="footer">
    <div class="container d-flex justify-content-between align-items-center px-3">
        <span style="color: rgb(113, 113, 113);">&copy; 2023 - 2025 Bumbleboy92</span>
        <a href="https://decoderpo.com/" style="color: rgb(113, 113, 113); text-decoration: underline;">RPOs/Descriptions provided by DecoderRPO</a>
    </div>
</footer>