<!-- Page footer -->
<footer class="footer">
    <div class="container-fluid" style="display: flex; justify-content: space-between; align-items: center;">
        <a style="color: rgb(113, 113, 113); text-decoration: none;">2023 - 2025, Bumbleboy92</a>
        <a href="https://decoderpo.com/" style="color: rgb(113, 113, 113); text-decoration: none;">RPOs/Descriptions provided by DecoderRPO</a>
    </div>
</footer>