<header id="main-header" style="background-color: transparent;">
    <div class="header-background"></div>
    <div class="container-fluid" style="height: 100%; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">
        <div class="d-flex align-items-center" style="height: 100%;">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation" style="border: none; background: transparent; color: white; font-weight: bold;">
                <span class="hamburger-icon">
                    <span class="bar top-bar"></span>
                    <span class="bar middle-bar"></span>
                    <span class="bar bottom-bar"></span>
                </span>
            </button>
            <h1 id="site-title" class="text-white mb-0">
                <a href="/" class="text-white" style="text-decoration: none;">GM 2020+ Build Counts</a>
            </h1>
        </div>
        <div class="collapse" id="sidebar">
            <ul class="nav flex-column mt-2">
                <li class="nav-item mb-3">
                    <form id="searchVIN" action="/search" method="GET" class="d-flex mt-3">
                        <input type="text" id="searchInput" name="vin" class="form-control" placeholder="Search VIN...">
                        <button type="submit" class="btn btn-secondary ms-2">Search</button>
                    </form>
                </li>
                <li class="nav-item mb-2">
                    <a href="/vehicles" class="nav-link">
                        <i class="fs-4 bi bi-car-front-fill me-2"></i>
                        Vehicles
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="/stats" class="nav-link">
                        <i class="fs-4 bi bi-list-ol me-2"></i>
                        Stats
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="/wheels" class="nav-link">
                        <i class="fs-4 bi bi-fan me-2"></i>
                        Wheels
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="/rpos" class="nav-link">
                        <i class="fs-4 bi bi-database-fill me-2"></i>
                        RPOs
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="/about" class="nav-link">
                        <i class="fs-4 bi bi-info-lg me-2"></i>
                        About
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var imageURLs = <%- JSON.stringify(headerImages) %>;

        var randomIndex = Math.floor(Math.random() * imageURLs.length);

        document.querySelector('.header-background').style.backgroundImage = 'url(' + imageURLs[randomIndex] + ')';

        var path = window.location.pathname;
        var navLinks = document.querySelectorAll('.nav-link');

        navLinks.forEach(function(link) {
            if (link.getAttribute('href') === path) {
                link.classList.add('active');
            } else {
                link.classList.remove('active');
            }
        });

        const header = document.getElementById('main-header');
        const sidebar = document.getElementById('sidebar');
        const scrollThreshold = 70;
        let lastScrollTop = 0;

        function handleHeaderScroll() {
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            
            if (scrollTop > scrollThreshold) {
                header.classList.add('header-minimized');
                if (sidebar) {
                    sidebar.classList.add('header-minimized');
                }
            } else {
                header.classList.remove('header-minimized');
                if (sidebar) {
                    sidebar.classList.remove('header-minimized');
                }
            }
            
            lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
        }

        window.addEventListener('scroll', handleHeaderScroll);
        
        header.addEventListener('click', function(event) {
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            
            if (header.classList.contains('header-minimized') && scrollTop > 0) {
                if (!event.target.closest('.navbar-toggler') && !event.target.closest('#sidebar')) {
                    window.scrollTo({
                        top: 0,
                        behavior: 'smooth'
                    });
                }
            }
        });

        handleHeaderScroll();
    });
</script>
