<div class="row g-0 flex-nowrap">
<div class="sidebar col-md-3 col-xl-2 px-sm-0 px-0 navbar navbar-expand-lg navbar-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 min-vh-100 justify-content-center">
        <a href="/" class="d-flex mx-auto" style="margin-bottom: 10px;">
            <img id="rotatingImage" width="auto" height="96" class="mx-auto">
        </a>
        <!-- Navigation links begins -->
        <ul class="nav nav-pills btn-toggle-nav col-auto flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu" style="display: block; width: 100%;">
            <!-- All -->
            <li class="nav-item">
                <a href="/rand" class="nav-link align-middle px-2 mb-2 csslink d-flex align-items-center">
                    <i class="fs-5 bi bi-question-lg me-2"></i> <span class="ms-1 d-none d-sm-inline">Random</span>
                </a>
            </li>
            <!-- MSRP -->
            <li class="nav-item">
                <a href="/msrp" class="nav-link align-middle px-2 mb-2 csslink d-flex align-items-center">
                    <i class="fs-5 bi bi-currency-dollar me-2"></i> <span class="ms-1 d-none d-sm-inline">Highest MSRPs</span>
                </a>
            </li>
            <!-- Camaro -->
            <li class="nav-item">
                <a href="/camaro" class="nav-link align-middle px-2 mb-2 csslink d-flex align-items-center">
                    <img src="../img/camaro_favicon.png" alt="Camaro Logo" class="fs-5 me-2" style="height: 10px; width: auto;">
                    <span class="ms-1 d-none d-sm-inline">Camaro</span>
                </a>
            </li>
            <!-- ZL1 CE -->
            <li class="nav-item">
                <a href="/panther350" class="nav-link align-middle px-2 mb-2 csslink d-flex align-items-center">
                    <img src="../img/panther.png" alt="Camaro CE Logo" class="fs-5 me-2" style="height: auto; width: 48px;"> 
                    <span class="ms-1 d-none d-sm-inline">Collector's Edition</span>
                </a>
            </li>
            <!-- G56 -->
            <li class="nav-item">
                <a href="/garage56" class="nav-link align-middle px-2 mb-2 csslink d-flex align-items-center">
                    <img src="../img/nascar_logo.png" alt="NASCAR Logo" class="fs-5 me-2" style="height: auto; width: 48px;"> 
                    <span class="ms-1 d-none d-sm-inline">Garage56 Edition</span>
                </a>
            </li>
            <!-- Blackwing -->
            <li class="nav-item">
                <a href="/blackwing" class="nav-link align-middle px-2 mb-2 csslink d-flex align-items-center">
                    <img src="../img/blackwing_logo.png" alt="Blackwing Logo" class="fs-5 me-2" style="height: auto; width: 48px;"> 
                    <span class="ms-1 d-none d-sm-inline">Blackwing</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="content col">
    <!-- Page header -->
    <header class="p-4" style="background-color: #000000;">
      <div class="container-fluid">
          <div class="row align-items-center">
              <div class="col">
                  <h1 class="header-title">
                      <a href="/" style="color: white; text-decoration: none;">
                          GM 2020-2024 Build Counts
                      </a>
                  </h1>
              </div>
              <div class="col-auto">
                <form id="searchVIN" action="/search" method="GET" class="d-flex">
                  <input type="text" id="searchInput" name="vin" class="form-control" placeholder="Search VIN...">
                  <button type="submit" class="btn btn-secondary ms-2">Search</button>
                </form>
              </div>
          </div>
      </div>
    </header>



<script>
    var imageURLs = [
        '../img/camaro_sidebar_1.png',
        '../img/camaro_sidebar_2.png',
        '../img/camaro_sidebar_3.png',
        '../img/camaro_sidebar_4.png',
        '../img/camaro_sidebar_5.png',
        '../img/camaro_sidebar_6.png',
        '../img/camaro_sidebar_7.png',
    ]

    var randomIndex = Math.floor(Math.random() * imageURLs.length)

    document.getElementById('rotatingImage').src = imageURLs[randomIndex]

    var path = window.location.pathname;
    var navLinks = document.querySelectorAll('.nav-link');

    navLinks.forEach(function(link) {
        if (link.getAttribute('href') === path) {
            link.classList.add('active');
        } else {
            link.classList.remove('active');
        }
    });

</script>
